# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Rider / VSCode (bonus propre)
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
appsettings.Development.json
CLAUDE.md